<nav class="navbar">
  <ul>
    <li><a href="/">Accueil</a></li>
    <li><a href="/services/view">Services</a></li>
    <li><a href="/status/view"> État</a></li>
    <li><a href="/login">Connexion</a></li>
  </ul>
</nav>

